@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Poppins:wght@100;200;300;400&display=swap');


:root{
    --dark1: #bec92b4d;
    --dark2: #181c20;
    --dark3: #744c02ad;
    --dark4: #2d3135;
    --dark5: #424549;
    --dark6: #404346;
    --dark7: #9c9c9c;
    --dark8: #dae0e7;
    --dark9: #262a2e;
    --red1: #902e31;
}

/* ========= Tabla ========= */

select {
    width: 100%; /* Full width */
    padding: 10px; /* Padding for better touch targets */
    border: 1px solid #262a2e ; /* Border color */
    border-radius: 4px; /* Rounded corners */
    color: var(--dark8);
    font-size: 16px; /* Font size */
    background-color: #262a2e; /* Background color */
    transition: border-color 0.3s; /* Transition for border color */
}

select:focus {
    border-color: #ffffff; /* Border color on focus */
    outline: none; /* Remove default outline */
}

.container-nav{
    top: 0;
    padding: 70px;
    box-shadow: 3px 3px 20px var(--dark1);
    background: var(--dark3);
    border-radius: 10px;
    margin-top: 70px;
    margin-left: 40px;
    margin-right: 20px;
    width: calc(100% - 50px); /* Ajusta el ancho según sea necesario */
    max-width: 1100px; /* Establece un ancho máximo si es necesario */
    margin-left: auto; /* Centra el contenedor horizontalmente */
    margin-right: auto;
}

.uniBtn {
    background-color: #4CAF50; /* Green */
    border-radius: 10%;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}
.uniBtn1 {
    background-color: red; /* Green */
    border-radius: 10%;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

.container-nav header .filterEntries{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.filterEntries .entries{
    flex: 1; /* Permite que los elementos se expandan */
    margin-right: 10px; 
    color: var(--dark8);
}

.filterEntries .entries select, .filterEntries .filter input{
    padding: 7px 10px;
    border: 1px solid var(--dark6);
    color: var(--dark8);
    background: var(--dark4);
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
    cursor: pointer;
}


.filterEntries .entries select{
    padding: 5px 10px;
}

.filterEntries .filter{
    display: flex;
    align-items: center;
}

.filter label{
    color: var(--dark8);
    margin-right: 5px;
}


.filter input:focus{
    border-color: var(--dark7);
}

.container-nav header .addMemberBtn {
    margin-bottom: 15px;
}

header .addMemberBtn button, .popup header .closeBtn, .popup footer .submitBtn, .popup1 header .closeBtn1, .popup1 footer .submitBtn1{
    padding: 9px 14px;
    color: var(--dark8);
    background: transparent;
    font-size: 16px;
    cursor: pointer;
    pointer-events: auto;
    outline: none;
    border: 1px solid var(--dark6);
    background: var(--dark4);
    border-radius: 5px;
}

.addMemberBtn button:hover{
    background: #636659;
}


.container-nav table{
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}


.container-nav footer{
    margin-top: 25px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-nav footer span{
    color: var(--dark8);
}


/* Popup Form */

label {
    color: var(--dark8);
}

.modalTitle{
    color: white;
}

.dark_bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    
}


.popup{
    border-radius: 5px;
    box-shadow: 3px 3px 20px rgba(0,0,0,0.3);
    background: var(--dark6);
    transition: 0.4s;
    user-select: none;
    transform: scale(0.7);
    opacity: 0;
    visibility: hidden;
}

.popup header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--dark7);
    padding: 10px 20px;
}

.popup header .closeBtn{
    font-size: 30px;
    font-weight: 300;
    padding: 0 15px;
}
.popup1 header .closeBtn1{
    font-size: 30px;
    font-weight: 300;
    padding: 0 15px;
}

.popup header .closeBtn:hover, .popup footer .submitBtn:hover{
    border-color: var(--dark7);
    transition: 0.3s;
}
.popup1 header .closeBtn1:hover, .popup1 footer .submitBtn1:hover{
    border-color: var(--dark7);
    transition: 0.3s;
}

.popup footer{
    border-top: 1px solid var(--dark7);
    padding: 12px 20px;
    text-align: right;
}

.popup form{
    padding: 10px 20px;
    display: flex;
    align-items: flex-start;
}

.modalTitle1 {
    color: white;
}

.dark_bg1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
}

.popup1 {
    border-radius: 5px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3);
    background: var(--dark6);
    transition: 0.4s;
    user-select: none;
    transform: scale(0.7);
    opacity: 0;
    visibility: hidden;
}

.popup1.show {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.popup1 header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--dark7);
    padding: 10px 20px;
}

.popup1 header .closeBtn1 {
    font-size: 30px;
    font-weight: 300;
    padding: 0 15px;
    cursor: pointer;
}

.popup1 footer {
    border-top: 1px solid var(--dark7);
    padding: 12px 20px;
    text-align: right;
}

.popup1 form {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}


form .inputFieldcontainer-nav .nameField,
form .inputFieldcontainer-nav .ageCityField,
form .inputFieldcontainer-nav .postSalary{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

form .inputFieldcontainer-nav .nameField input,
form .inputFieldcontainer-nav .ageCityField input,
form .inputFieldcontainer-nav .postSalary input{
    width: 200px;
}
.ageCityField {
    display: flex;
    flex-direction: column; /* Alinea los elementos en columna */
}

.form_control {
    margin-bottom: 15px; /* Espaciado entre los controles */
}

.d-flex {
    margin-top: 10px; /* Espaciado superior para el grupo de cantidad y unidad */
}

.inputFieldcontainer-nav .form_control{
    margin: 10px 0;
}

.inputFieldcontainer-nav .form_control label{
    display: block;
    color: var(--dark8);
    margin-bottom: 5px;
}

.form_control input{
    padding: 10px;
    border: 1px solid var(--dark6);
    color: var(--dark8);
    background: var(--dark4);
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
    width: 100%;
}

.form_control input:focus,
.form_control input:valid{
    border-color: var(--dark8);
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
    display: none;
}


.active{
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}
